<div class="container mt-5 text-center">

  <h3>
    Redirecting To Payment Gateway...
  </h3>

    <div *ngIf="loading" class="loader-overlay">
          <img src="assets/assetsWeb/images/digi-replay_64px.gif" alt="Loading">
      </div>

  <!-- ===================================== -->
  <!-- PayU Payment Form -->
  <!-- ===================================== -->
<form
    #ccavenueForm
    [action]="paymentUrl"
    method="POST">

    <input    
        type="hidden"
        name="encRequest"
        [value]="encRequest">
         <input    
        type="hidden"
        name="token"
        [value]="token">

    <input
        type="hidden"
        name="access_code"
        [value]="accessCode">

</form>

<div class="text-center mt-5" *ngIf="loading">

    <div class="spinner-border text-primary"></div>

    <h5 class="mt-3">
        Redirecting to Payment Gateway...
    </h5>

</div>

<div *ngIf="loading" class="text-center">
  <h4>Please wait...</h4>
  <p>Redirecting to CCAvenue...</p>
</div>

</div>
