
<header class="web-header">
  <!-- <div class="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-6">
                  <div class="t-left">
                      <ul>
                          <li>Phone : 011 4975 4975</li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="t-left t-right">
                      <ul>
                          <li>Mail : support@loanbazaar.com</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div class="middle-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                <div class="midle-left"><a [routerLink]="['/']"><img src="assets/assetsWeb/images/CSClogo1.svg" alt=""></a></div>
              </div>
              <div class="col-md-6">
                  <div class="midle-right">
                      <ul>
                          <!-- <li><a href="https://www.facebook.com/cscscheme"><img src="images/fb.png" alt=""></a>
                          </li>
                          <li><a href="https://x.com/CSCegov_"><img src="images/twtr.png" alt=""></a></li>
                          <li><a href="https://www.instagram.com/commonservicescenters/"><img
                                      src="images/insta.png" alt=""></a></li>
                          <li><a href="https://www.youtube.com/user/CSCSCHEME"><img src="images/youtb.png"
                                      alt=""></a></li> -->
                          <!-- <li><a href="#"><img src="images/linkdin.png" alt=""></a></li> -->
                          <li class="digi"><a target="_blank" href="https://www.digitalindia.gov.in/"><img src="assets/assetsWeb/images/digi_india_logo.svg" alt=""></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
  <div class="menu-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/', 'about-us']">About us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="scrollTo('partner')" >Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('product')"  >Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', 'gallery']">Gallery</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollTo('contact')"  >Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://loanbazaruat.csccloud.in/eloan/admin2/">Officer Login</a>
          </li>
         
        </ul>
        <!-- <form class="form-inline csc-search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
        </form> -->
      </div>
       <!--a class="get-q1" href="https://loanbazaruat.csccloud.in/eloan/#/otp"> <button type="button" class="get-q1"><img src="assets/assetsWeb/images/newdsp.png" alt="">&nbsp; BFA Login</button></a-->

      <a class="get-q" href="https://loanbazaruat.csccloud.in/eloan/index.php/Home/login" style="color: white;"> <button type="button" class="get-q"><img src="assets/assetsWeb/images/newdsp.png" alt="">&nbsp; VLE Login</button></a>


    </nav>
  </div>
<!--section-- class="headerMes">
  <div class="container">
    <h4 style="padding: 10px;color: #ff0000c7; text-align: center;">Due to maintenance, Loanbazar will be unavailable on 11th October, from 04:00PM-06:00AM. We apologize for any inconvenience.</h4>
  </div>
</section-->
