<section class="top-banks" id="partner">
  <div class="container">
    <div class="bank-head">
      <h6>We Work With</h6>
      <h5> India's Top Banks & NBFCs</h5>
    </div>
    <div class="banks">
       <div class="bank-list"><img src="assets/assetsWeb/images\kotak_prime_logo.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\mfl_lap_logo.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\cent_logo_1.jpg" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\aditya-birla-logo.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-01.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-02.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-03.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-04.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-05.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-06.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\download.jpg" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-08.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-09.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-10.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-11.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-12.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-13.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-14.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-15.png" alt="" loading="lazy" class="bank-logo"></div>
      <!-- <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-16.png" alt="" loading="lazy" class="bank-logo"></div> -->
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-17.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-18.png" alt="" loading="lazy" class="bank-logo"></div>
      <!-- <div class="bank-list"><img src="assets/assetsWebWeb/images\img-bank-19.png" alt="" loading="lazy" class="bank-logo"></div> -->
      <div class="bank-list"><img src="assets/assetsWeb/images\img-bank-20.png" alt="" loading="lazy" class="bank-logo"></div>
      <div class="bank-list">
        <img src="assets/assetsWeb/images\img-bank-21.png" alt="" loading="lazy" class="bank-logo">
      </div>
    </div>
  </div>
</section>
