
<app-slider></app-slider>
<app-information></app-information>
<app-product></app-product>
<section class="customer-s">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="cst">
          <div class="cs"><img src="assets/assetsWeb/images/satisfied-cst.png" alt=""></div>
          <h3>48 lakh +</h3>
          <p>Satisfied Customers</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cst">
          <div class="cs"><img src="assets/assetsWeb/images/bnk.png" alt=""></div>
          <h3>43 +</h3>
          <p>Bank & Institutions</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cst">
          <div class="cs"><img src="assets/assetsWeb/images/worth.png" alt=""></div>
          <h3>78,000 cr +</h3>
          <p>Worth of loan disbursed</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-brand></app-brand>
<app-testimonials></app-testimonials>
<!-- <app-information></app-information>
<app-become-partner></app-become-partner>-->
<app-faq></app-faq>
