<section class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="address">
          <li><img src="assets/assetsWeb/images\CSC-logo-footer.png" alt=""></li>
          <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Registered Address:</li>
          <p>Ministry of Electronics & Information Technology, Electronics Niketan, 6, CGO Complex, Lodhi
            Road, CGO Complex, Pragati
            Vihar, Common Services Centres, New Delhi – 110003
          </p>
          <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Office Address:</li>
          <p>238, Okhla Phase 3 Rd, Okhla Phase III, Okhla Industrial Estate, New Delhi, Delhi 110020</p>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="company">
          <h6>Company</h6>
          <li><a href="https://digitalseva.csc.gov.in/web/legal">Terms & Conditions</a></li>
          <li><a href="https://digitalseva.csc.gov.in/web/legal">Privacy Policy</a></li>
          <li class="sprt-loan"><a href="#"><span><i class="fa fa-shopping-bag"
                  aria-hidden="true"></i></span>{{ suportEmail }}</a></li>
        </ul>
        <ul class="footer-links">
          <h6>Follow CSC on</h6>
          <li><a href="https://www.facebook.com/cscscheme"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a href="https://x.com/CSCegov_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/commonservicescenters/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/user/CSCSCHEME"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="company">
          <h6>Company</h6>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#"><span><i class="fa fa-phone" aria-hidden="true"></i></span>Phone : 011 4975 4975</a>
          </li>
          <li><a href="#"><span><i class="fa fa-phone" aria-hidden="true"></i></span>Phone : 14599</a>
          </li>
        </ul>
        <ul class="footer-links">
          <h6>Follow CSC loanbazar on</h6>
          <li><a href="http://x.com/cscfinancial_"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="company">
          <h6>Our location</h6>
        </ul>
        <div class="map-l">
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.2938059240796!2d77.22542797457116!3d28.590961485968897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2fdecc3f9cb%3A0x8a49130463a52c2d!2sCSC%20E-Governance%20Services%20India%20Limited!5e0!3m2!1sen!2sin!4v1727341021771!5m2!1sen!2sin"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>

        </div>
      </div>
    </div>
    <div class="privacy-policy">
      Our Privacy Policy © All Rights Reserved
    </div>
  </div>
</section>

  <a  class="cibil-float emi"  [routerLink]="['/emi']">
  EMI Calculator

</a>
 <a  class="cibil-float emiLeft"  [routerLink]="['/emi']">
  EMI Calculator

</a>
<!-- Template Main JS File -->
<!-- <script src="assets/assetsWeb/js/owl.carousel.min.js"></script> -->
